{
  "openapi": "3.1.0",
  "info": {
    "title": "Canli Capital public read API",
    "version": "1.0.0",
    "summary": "A static, cacheable read API over a paper-traded systematic record.",
    "description": "Every response carries the artifacts it was built from with their SHA-256 hashes, the class of claim it represents, and the limits of what it can be used to say. There is no write path and no authentication. Nothing here represents funded performance.",
    "contact": {
      "name": "Arhan Canli",
      "url": "https://canlicapital.com/founder"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://canlicapital.com",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "Developer documentation",
    "url": "https://canlicapital.com/developers"
  },
  "paths": {
    "/api/v1/chain/head": {
      "get": {
        "summary": "The head of the signed append-only transparency chain, and the public key needed to verify it.",
        "operationId": "chain_head",
        "responses": {
          "200": {
            "description": "The current snapshot, regenerated on each publish.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schema",
                    "generated_at",
                    "claim_class",
                    "limits",
                    "sources",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/record": {
      "get": {
        "summary": "The full record as an instance of the canli.paper-evidence.v0 open standard, including what it does not establish.",
        "operationId": "record",
        "responses": {
          "200": {
            "description": "The current snapshot, regenerated on each publish.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schema",
                    "generated_at",
                    "claim_class",
                    "limits",
                    "sources",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/research": {
      "get": {
        "summary": "Every published research document and topic, including failures and feasibility nulls.",
        "operationId": "research",
        "responses": {
          "200": {
            "description": "The current snapshot, regenerated on each publish.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schema",
                    "generated_at",
                    "claim_class",
                    "limits",
                    "sources",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sleeves": {
      "get": {
        "summary": "Per-sleeve state. Note that the research curves are not on a common date grid and cannot be combined.",
        "operationId": "sleeves",
        "responses": {
          "200": {
            "description": "The current snapshot, regenerated on each publish.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schema",
                    "generated_at",
                    "claim_class",
                    "limits",
                    "sources",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/status": {
      "get": {
        "summary": "Current state of the paper record: capital kind, period, observation count, validation status and broker reconciliation.",
        "operationId": "status",
        "responses": {
          "200": {
            "description": "The current snapshot, regenerated on each publish.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schema",
                    "generated_at",
                    "claim_class",
                    "limits",
                    "sources",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trials/summary": {
      "get": {
        "summary": "The trial union used as the multiple-testing denominator, plus the kill counts.",
        "operationId": "trials_summary",
        "responses": {
          "200": {
            "description": "The current snapshot, regenerated on each publish.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "schema",
                    "generated_at",
                    "claim_class",
                    "limits",
                    "sources",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/keys": {
      "post": {
        "summary": "Issue a free key. Returned once; only its hash is stored.",
        "operationId": "keys",
        "responses": {
          "201": {
            "description": "The key, once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "413": {
            "description": "Body over 1048576 bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Input the validator refuses, with the reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "429": {
            "description": "At most 5 keys per client per day",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  }
                },
                "required": []
              },
              "example": {
                "label": "my-backtest-runner"
              }
            }
          }
        }
      }
    },
    "/api/v1/validate/deflated-sharpe": {
      "post": {
        "summary": "Probabilistic and deflated Sharpe from the seven contract inputs, or from a return series plus the trials behind it.",
        "operationId": "validate_deflated_sharpe",
        "responses": {
          "200": {
            "description": "The envelope with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "413": {
            "description": "Body over 1048576 bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Input the validator refuses, with the reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "429": {
            "description": "Daily quota of 1000 validations reached; see Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "returns": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "periods_per_year": {
                    "type": "number"
                  },
                  "effective_independent_trials": {
                    "type": "number"
                  },
                  "cross_trial_sharpe_sd_annualized": {
                    "type": "number"
                  },
                  "observed_sharpe_annualized": {
                    "type": "number",
                    "description": "Contract-input mode only."
                  },
                  "observations": {
                    "type": "number",
                    "description": "Contract-input mode only."
                  },
                  "skew": {
                    "type": "number",
                    "description": "Contract-input mode only."
                  },
                  "non_excess_kurtosis": {
                    "type": "number",
                    "description": "Contract-input mode only."
                  }
                },
                "required": [],
                "description": "Send either a return series (returns, periods_per_year, effective_independent_trials, cross_trial_sharpe_sd_annualized) or all seven contract fields (observed_sharpe_annualized, observations, periods_per_year, skew, non_excess_kurtosis, effective_independent_trials, cross_trial_sharpe_sd_annualized), never both."
              },
              "example": {
                "returns": [
                  0.004,
                  -0.002,
                  0.007,
                  0.001,
                  -0.003,
                  0.005,
                  0.002,
                  -0.001
                ],
                "periods_per_year": 252,
                "effective_independent_trials": 30,
                "cross_trial_sharpe_sd_annualized": 0.5
              }
            }
          }
        },
        "security": [
          {
            "bearerKey": []
          }
        ]
      }
    },
    "/api/v1/validate/overfitting": {
      "post": {
        "summary": "Probability of backtest overfitting by CSCV over the returns of every variant tried.",
        "operationId": "validate_overfitting",
        "responses": {
          "200": {
            "description": "The envelope with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "413": {
            "description": "Body over 1048576 bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Input the validator refuses, with the reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "429": {
            "description": "Daily quota of 1000 validations reached; see Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "matrix": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  },
                  "n_splits": {
                    "type": "number"
                  },
                  "max_combinations": {
                    "type": "number",
                    "description": "Defaults to the service ceiling; may not exceed it."
                  },
                  "seed": {
                    "type": "number",
                    "description": "Defaults to 42. Seeds the service's own sampler for the non-exhaustive case."
                  }
                },
                "required": [
                  "matrix"
                ]
              },
              "example": {
                "matrix": [
                  [
                    0.01,
                    0.002,
                    -0.004
                  ],
                  [
                    -0.003,
                    0.001,
                    0.006
                  ],
                  [
                    0.004,
                    -0.002,
                    0.001
                  ],
                  [
                    0.002,
                    0.003,
                    -0.001
                  ]
                ],
                "n_splits": 4
              }
            }
          }
        },
        "security": [
          {
            "bearerKey": []
          }
        ]
      }
    },
    "/api/v1/validate/paper-evidence": {
      "post": {
        "summary": "Conformance of a performance record against the canli.paper-evidence.v0 standard.",
        "operationId": "validate_paper_evidence",
        "responses": {
          "200": {
            "description": "The envelope with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "413": {
            "description": "Body over 1048576 bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Input the validator refuses, with the reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "429": {
            "description": "Daily quota of 1000 validations reached; see Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": "object",
                    "properties": {
                      "schema": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "schema"
                    ]
                  }
                },
                "required": [
                  "record"
                ]
              },
              "example": {
                "record": {
                  "schema": "canli.paper-evidence.v0"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerKey": []
          }
        ]
      }
    },
    "/api/v1/validate/breadth": {
      "post": {
        "summary": "Book Sharpe ceiling from per-sleeve quality and average pairwise correlation, and the sleeves a target needs.",
        "operationId": "validate_breadth",
        "responses": {
          "200": {
            "description": "The envelope with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "413": {
            "description": "Body over 1048576 bytes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Input the validator refuses, with the reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "429": {
            "description": "Daily quota of 1000 validations reached; see Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sleeve_sharpe": {
                    "type": "number"
                  },
                  "average_pairwise_correlation": {
                    "type": "number"
                  },
                  "sleeves": {
                    "type": "number"
                  },
                  "target": {
                    "type": "number"
                  }
                },
                "required": [
                  "sleeve_sharpe",
                  "average_pairwise_correlation"
                ]
              },
              "example": {
                "sleeve_sharpe": 0.5,
                "average_pairwise_correlation": 0.05,
                "sleeves": 4,
                "target": 1.5
              }
            }
          }
        },
        "security": [
          {
            "bearerKey": []
          }
        ]
      }
    },
    "/api/v1/validate/status": {
      "get": {
        "summary": "Service and store status with the quota constants in force.",
        "operationId": "validate_status",
        "responses": {
          "200": {
            "description": "The envelope with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/receipts/{id}": {
      "get": {
        "summary": "A stored verdict by content-hash id. Immutable.",
        "operationId": "receipts_id_",
        "responses": {
          "200": {
            "description": "The envelope with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "404": {
            "description": "No such receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "405": {
            "description": "Wrong method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A key from POST /api/v1/keys, sent as Authorization: Bearer ck_live_..."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "required": [
          "schema",
          "endpoint",
          "generated_at",
          "claim_class",
          "capital_kind",
          "canonical_human_page",
          "limits",
          "sources",
          "data"
        ],
        "properties": {
          "schema": {
            "const": "canli.api.v1"
          },
          "endpoint": {
            "type": "string"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "claim_class": {
            "type": "string"
          },
          "capital_kind": {
            "type": "string"
          },
          "canonical_human_page": {
            "type": "string"
          },
          "limits": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "data": {
            "type": "object"
          },
          "receipt": {
            "type": "object"
          },
          "error": {
            "type": "object"
          }
        }
      }
    }
  }
}
